header {
  display: flex;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
  background-color: darkmagenta;
  background-image: url("/images/carbon-fibre.png");
}

.name {
  margin-top: -60px;
  color: white;
}